.search-form{
    width: 100%;
    max-width: 680px;
}

.search-form-elem{
    padding: 1.4rem 2.8rem;
    border-radius: 3.8rem;
}

.search-form-elem .form-control{
    font-size: 2rem;
    padding: 0.6rem;
}

.search-form-elem .form-control::placeholder{
    opacity: 0.9;
}

.search-form {
    .container {
      .search-form-content {
        form.search-form {
          .search-form-elem {
            display: flex;
            align-items: center;
  
            input.form-control {
              flex: 1;
              padding: 12px;
              border-radius: 4px 0 0 4px;
              outline: none;
  
              &::placeholder {
                color: #999;
              }
            }
  
            .search-btn {
              background-color: #8d27ae;
              color: #fff;
              border: none;
              padding: 12px;
              border-radius: 0 4px 4px 0;
              cursor: pointer;
              outline: none;
              transition: background-color 0.3s;
  
              &:hover {
                background-color: #6a1b85;
              }
            }
          }
        }
      }
    }
  }
  